
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #181719;
}

/*Menu*/
nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar-btn {
  font-size: 25px;
  color: #ffffff;
  margin-right: 20px;
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 100px;
  background: #181719;
  text-align: center;
}

.nav-menu li {
  display: none;
  line-height: 30px;
  margin: 50px 0;
}

.nav-menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.nav-menu li a.active,
.nav-menu li a:hover {
  color: #ffffff;
  text-decoration: underline;
  transition: 0.3s;
}

#check {
  display: none;
}

#check:checked~.nav-menu {
  height: 100vh;
}

#check:checked~.nav-menu li {
  display: block;
}

@media screen and (min-width: 800px) {
  .logo {
    margin-left: 50px;
  }

  nav {
    height: 100px;
  }

  .bar-btn {
    display: none;
  }

  .nav-menu {
    position: relative;
    height: 100px;
    top: 0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px;
  }

  .nav-menu li {
    display: inline-block;
    line-height: 100px;
    margin: 0 20px;
    transition: none;
  }

  .nav-menu li a {
    font-size: 12px;
  }

}

/*Articulo*/

section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 80px;
  margin-bottom: 150px;
}

.articulo h1 {
  width: 365px;
  font-family: Lora;
  font-size: 48px;
  font-weight: 500;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.articulo p {
  max-width: 410px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  padding: 20px 0px;
}

.articulo li {
  color: #ffffff;
}

.articulo img {
  width: 737px;
  height: 555px;
}

/*Card*/
.comment {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  margin-top: -100px;
}

.card {
  display: flex;
  align-items: center;
  max-width: 410px;
  padding: 30px 30px 30px 20px;
  margin-right: 50px;
  background: #181719;
  border-radius: 24px;
}

.card img {
  max-width: 150px;
  width: 32vw;
  height: 150px;
  object-fit: cover;
  margin-left: -60px;
  margin-right: 30px;
  border-radius: inherit;
}

.card h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  color: #fff;
  font-family: Montserrat;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.card h3 {
  font-size: 16px;
  font-weight: 500;
  color: #828282;
  font-family: Montserrat;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;

}

.card p {
  font-family: Lora;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;

}

@media (width <=720px) {
  .logo {
    margin-left: 15px;
  }

  section {
    margin-top: 0px;
    margin-bottom: 60px;
   }

  .articulo {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }

  .articulo h1 {
    font-size: 36px;
    line-height: 46px;
    width: 274px;
  }

  .articulo p {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    max-width: 250px;
  }

  .articulo li {
    color: #ffffff;
    font-size: 14px;
  }

  .articulo img {
    width: 340px;
    height: 264px;
  }

  .down {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .comment {
    margin-top: -50px;
    display: flex;
    justify-content:flex-start;
  }

  .card {
    margin: 0 40px;
    padding-left: 20px;
    padding-right: 40px;
    width: 280px;
    text-align: center;
    flex-direction: column;
    padding-bottom: 0px;
  }

  .card h2 {
    font-size: 15px;
  }

  .card h3 {
    font-size: 10px;
  }

  .card p {
    font-size: 20px;
    line-height: 27px;
  }

  .card img {
    margin: -70px 0 20px 0;
    width: 80px;
    height: 80px;
  }
}


/*Footer*/

footer {
  display: flex;
  justify-content: center;
  margin-top: 6vh;
  margin-bottom: 3vh;
}

footer p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #BDBDBD;
}

footer a {
  color: #BDBDBD;
  font-weight: bold;
}

@media screen and (max-width:700px) {
 footer {
        margin-top: 4vh;
        margin-bottom: 2vh;
    } }